<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <entityFramework>
        <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    </entityFramework>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
<connectionStrings><add name="GLOBALEDGE_MVCEntities" connectionString="metadata=res://*/WorldBank.csdl|res://*/WorldBank.ssdl|res://*/WorldBank.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DB3;initial catalog=GLOBALEDGE_MVC;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>