@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<ul>
    <li>@Html.ActionLink("Update DIBS Fields List (will be slow, click once)", "Index", "Indicators")</li>
    <li>@Html.ActionLink("Update DIBS Fields Data", "List", "Indicators")</li>
</ul>
